<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Welcome To Dashboard</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Crypto Currencies</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text" (click)="openForm(null)">
              <i class="fa-solid fa-circle-plus mr-2"></i> Crear
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->


<!-- row opened -->
<div class="row row-sm">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="card custom-card">
            <div class="card-header border-bottom-0">
                <label class="main-content-label my-auto pt-2">Analisis Clinicos</label>
            </div>
            <div class="card-body pt-2 pb-0">
                <div class="table-responsive tasks ">
                    <table class="table card-table table-vcenter text-nowrap border">
                        <thead>
                            <tr>
                                <th class="wd-lg-10p">Codigo</th>
                                <th class="wd-lg-10p">Nombre</th>
                                <th class="wd-lg-20p">Descripcion</th>
                                <th class="wd-lg-20p text-center">Precio</th>
                                <th class="wd-lg-20p text-left">Accion</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let analysis of analysisService.listAnalysis$ | async ">
                              <tr>
                                <td>{{analysis.code}}</td>
                                <td>{{analysis.name}}</td>
                                <td>{{analysis.descripion}}</td>
                                <td>{{analysis.price}}</td>
                                <td>
                                  <a href="javascript:;" class="btn btn-sm btn-info mr-1">
                                      <i class="fe fe-edit-2" (click)="openForm(analysis)"></i>
                                  </a>
                                  <a href="javascript:;" class="btn btn-sm btn-danger" (click)="delete(analysis)">
                                      <i class="fe fe-trash"></i>
                                  </a>
                              </td>
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
