<div class="modal-dialog modal-dialog-centered custom-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Monto Cancelado en Divisas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group" [formGroup]="form">
          <label for="igtf_usd">Monto Cancelado en Divisas</label>
          <input
            type="text"
            id="igtf_usd"
            class="form-control w-100"
            formControlName="igtf_usd"
            placeholder="Ingrese el monto en divisas"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="saveForeignAmount()">Guardar</button>
      </div>
    </div>
  </div>
  