
      <div class="modal-header">
        <h5 class="modal-title">Importar Examenes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12 col-md-12">
          <div class="dropzone dropzone-primary" ngx-dropzone (change)="onSelect($event)">
              <div class="dz-message needsclick">
                  <i class="fe fe-upload-cloud" aria-hidden="true"></i>
                  <h6>Suelte los archivos aquí o haga clic para cargarlos.</h6>
              </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
      </div>
