   //dropzone
   .dropzone {
    border: 1px solid #e0e2f7;
    border-radius: 4px;
}
.dz-message.needsclick {
    color: #a8afc7;
}
.dz-message h6 {
    font-weight: 400;
}
.dz-message i {
    font-size: 1.5rem;
}
