<div class="modal-header">
  <h4 class="modal-title">Analisis</h4>
  <button
    aria-label="Close"
    class="close"
    (click)="cancelar()"
    data-dismiss="modal"
    type="button"
  ></button>
</div>

<div class="modal-body">
  <div id="wizard2">
    <aw-wizard [navBarLayout]="'large-empty-symbols'">
      <aw-wizard-step stepTitle="Analisis" [navigationSymbol]="{ symbol: '1' }">
        <form [formGroup]="analysisForm">
          <!-- Paso 1: Analisis Formulario -->
          <div class="form-group">
            <label for="name">Codigo</label>
            <input
              class="form-control"
              type="text"
              formControlName="code"
              onlyAlphabets
            />
            <ng-container
              class="invalid"
              *ngIf="
                analysisForm.get('code').hasError('required') &&
                analysisForm.get('code').touched
              "
            >
              <small class="tx-danger">debes colocar el codigo</small>
            </ng-container>
          </div>

          <div class="form-group">
            <label for="lname">Nombre</label>
            <input
              class="form-control"
              type="text"
              formControlName="name"
              onlyAlphabets
            />
            <ng-container
              class="invalid"
              *ngIf="
                analysisForm.get('name').hasError('required') &&
                analysisForm.get('name').touched
              "
            >
              <small class="tx-danger">debes colocar el Nombre</small>
            </ng-container>
          </div>

          <div class="form-group">
            <label for="contact">Descripcion</label>
            <input
              class="form-control"
              type="text"
              placeholder=""
              formControlName="description"
            />
            <ng-container
              class="invalid"
              *ngIf="
                analysisForm.get('description').hasError('required') &&
                analysisForm.get('description').touched
              "
            >
              <small class="tx-danger">debes colocar la Descripcion</small>
            </ng-container>
          </div>

          <div>
            <button
              class="btn btn-primary pull-right"
              type="submit"
              awNextStep
              [disabled]="!analysisForm.valid"
            >
              Next
            </button>
          </div>
        </form>
      </aw-wizard-step>

      <aw-wizard-step
        stepTitle="Examenes Asignados"
        [navigationSymbol]="{ symbol: '2' }"
      >
        <!-- Paso 2: Exámenes -->
        <div class="form-group">
          <label for="name">Nombre</label>
          <button class="form-control" type="button" (click)="open()">
            Abrir Exámenes
          </button>
        </div>

        <div class="row row-sm" *ngIf="listSeleccionables$ | async">
          <div class="col-sm-12">
            <div class="card custom-card">
              <div class="card-body">
                <div
                  class="p-3"
                  *ngFor="let test of listSeleccionables$ | async"
                >
                  <h6>{{ test.code }} - {{ test.name }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tabla de Exámenes -->
        <div class="table-responsive-sm">
          <table class="table text-nowrap">
            <thead class="border-top">
              <tr>
                <th class="bg-transparent">Codigo</th>
                <th class="bg-transparent">Nombre</th>
                <th class="bg-transparent">Precio</th>
              </tr>
            </thead>
            <tbody
              *ngFor="let test of analysisService.listSeletedTest$ | async"
            >
              <tr class="border-bottom">
                <td>{{ test.code }}</td>
                <td>{{ test.name }}</td>
                <td>{{ test.price }}</td>
                <td>
                  <a
                    href="javascript:;"
                    class="btn btn-sm btn-info mr-1"
                    (click)="see(test)"
                  >
                    <i class="fa fa-bullseye"></i>
                  </a>
                  <a
                    href="javascript:;"
                    class="btn btn-sm btn-danger mr-1"
                    (click)="deleteTest(test)"
                  >
                    <i class="fe fe-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <button
            class="btn btn-primary pull-right"
            type="button"
            (click)="recalculate()"
          >
            Calcular Precio
          </button>
        </div>
        <div class="form-group">
          <label for="price">Precio Total</label>
          <input
            class="form-control digits"
            id="price"
            type="number"
            [(value)]="calculatedPrice"
            readonly
          />
          <ng-container
            class="invalid"
            *ngIf="
              analysisForm.get('price').hasError('required') &&
              analysisForm.get('price').touched
            "
          >
            <small class="tx-danger">Debes colocar el precio</small>
          </ng-container>
        </div>

        <button
          class="btn btn-primary pull-right"
          type="button"
          (click)="save()"
        >
          Guardar
        </button>

        <button
          class="btn btn-secondary pull-right mr-1"
          type="button"
          awPreviousStep
        >
          Previous
        </button>
      </aw-wizard-step>
    </aw-wizard>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancelar()">
    Close
  </button>
</div>
