<div class="row row-sm">
  <div class="col-lg-12 col-md-12">
      <div class="card custom-card">
          <div class="card-body">
              <div>
                  <h6 class="main-content-label mb-1">Examen</h6>
              </div>
              <div id="wizard2">
                  <aw-wizard [navBarLayout]="'large-empty-symbols'">
                      <aw-wizard-step stepTitle="Examen" [navigationSymbol]="{ symbol: '1' }">
                          <form [formGroup]="firstFormGroup">
                              <div class="form-group">
                                  <label for="name">Codigo</label>
                                  <input class="form-control" type="text"
                                      formControlName="code" onlyAlphabets>
                                  <ng-container class="invalid"
                                      *ngIf="firstFormGroup.get('code').hasError('required') && firstFormGroup.get('code').touched">
                                      <small class="tx-danger">debes colocar el codigo</small>
                                  </ng-container>
                              </div>
                              <div *ngIf=""></div>
                              <div class="form-group">
                                  <label for="lname">Nombre</label>
                                  <input class="form-control" id="lname" type="text"
                                      formControlName="name" onlyAlphabets>
                                  <ng-container class="invalid"
                                      *ngIf="firstFormGroup.get('name').hasError('required') && firstFormGroup.get('name').touched">
                                      <small class="tx-danger">debes colocar el Nombre</small>
                                  </ng-container>
                              </div>
                              <div class="form-group">
                                  <label for="contact">Descripcion</label>
                                  <input class="form-control" id="contact" type="text"
                                      placeholder="" formControlName="description">
                                  <ng-container class="invalid"
                                      *ngIf="firstFormGroup.get('description').hasError('required') && firstFormGroup.get('description').touched">
                                      <small class="tx-danger">debes colocar la Descripcion</small>
                                  </ng-container>
                              </div>
                              <div class="form-group">
                                <label for="contact">Precio</label>
                                <input class="form-control digits" id="contact" type="number"
                                    placeholder="123456789" formControlName="price" onlyNumbers>
                                <ng-container class="invalid"
                                    *ngIf="firstFormGroup.get('price').hasError('required') && firstFormGroup.get('price').touched">
                                    <small class="tx-danger">debes colocar el precio</small>
                                </ng-container>
                            </div>
                            <div>
                              <button class="btn btn-primary pull-right" type="submit" awNextStep
                                  [disabled]="!firstFormGroup.valid">Next</button>
                            <button class="btn btn-primary pull-left" (click)="cancelar()"
                                  >cancelar</button>
                            </div>


                          </form>
                      </aw-wizard-step>
                      <aw-wizard-step stepTitle="Propiedades" [navigationSymbol]="{ symbol: '2' }">
                        <form [formGroup]="secondFormGroup">
                          <div class="form-group">
                            <label for="name">Nombre</label>
                            <input class="form-control" id="lname" type="text"
                                formControlName="name" onlyAlphabets>

                        </div>
                        <div class="form-group">
                          <label for="lname">lista de valores</label>
                          <input class="form-control" id="lname" type="text"
                              formControlName="list_value" onlyAlphabets>
                              <small class="tx-success">Separado por punto, coma o guion</small>
                      </div>
                      <div class="form-group">
                        <label for="lname">Indicadores</label>
                        <input class="form-control" id="lname" type="text"
                            formControlName="indicator" onlyAlphabets>
                    </div>
                    <button class="btn btn-primary pull-right form-group" type="button" (click)="addProperty()">Agregar</button>
                        </form>
                          <!-- tabla de propiedades -->
                          <div class="card-body">
                            <div class="">
                              <div class="table-responsive-sm">
                                <table class="table text-nowrap">
                                  <thead class="border-top">
                                    <tr>
                                      <th class="bg-transparent">Nombre</th>
                                    </tr>
                                  </thead>
                                  <tbody *ngFor="let det of listdetailTest$ | async;">
                                    <tr class="border-bottom selecting">
                                      <td>{{ det.name }}</td>
                                      <!-- <td>{{ det.list_value }}</td>
                                      <td>{{ det.indicator }}</td> -->
                                      <td>
                                        <a href="javascript:;" class="btn btn-sm btn-info mr-1" (click)="see(det)">
                                          <i class="fa fa-bullseye"></i>
                                      </a>
                                        <a href="javascript:;" class="btn btn-sm btn-danger mr-1" (click)="deleteProp(det)">
                                            <i class="fe fe-trash"></i>
                                        </a>
                                    </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                           <!--  -->
                              <button class="btn btn-primary pull-right" type="button"
                                   (click)="save()">guardar</button>
                              <button class="btn btn-secondary pull-right mr-1" type="button"
                                  awPreviousStep>Previous</button>

                      </aw-wizard-step>

                  </aw-wizard>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- / Row -->
